/// Brand color generator styles
//

@mixin brand-color-generate($arr-color: $brand-colors) {
  @each $name-color, $val-color in $arr-color {
    .color--#{$name-color}.color--#{$name-color} {
      color: $val-color;
    }
    .bg--#{$name-color}.bg--#{$name-color} {
      background-color: $val-color;
    }
    .bgfull--#{$name-color}.bgfull--#{$name-color} {
      background-color: $val-color;
      color: #fff;
    }
    .br--#{$name-color}.br--#{$name-color} {
      border-color: $val-color;
    }
    .btn--#{$name-color}.btn--#{$name-color} {
      color: $val-color;
      &:hover{
        color: $val-color;
        opacity: 0.8;
      }
    }
  }
}

