//PopUp Button styles

:root{
	--gap-h: 20px;
	--gap-v: 10px;
}

//Brakepoints
$m-large: 1400px !default;
$m-desctop: 1200px !default;
$m-tablet: 992px !default;
$m-mobile: 768px !default;
$m-small: 576px !default;

.nep-content-right{
	text-align: right;
}
.nep-content-left{
	text-align: left;
}
.nep-content-center{
	text-align: center;
}

.nep-w-10{
	max-width: calc(10% - (var(--gap-h) / 2)) !important;
}

.nep-w-20{
	max-width: calc(20% - (var(--gap-h) / 2)) !important;
}

.nep-w-30{
	max-width: calc(30% - (var(--gap-h) / 2)) !important;
}

.nep-w-40{
	max-width: calc(40% - (var(--gap-h) / 2)) !important;
}

.nep-w-50{
	max-width: calc(50% - (var(--gap-h) / 2)) !important;
}

.nep-w-60{
	max-width: calc(60% - (var(--gap-h) / 2)) !important;
}

.nep-w-70{
	max-width: calc(70% - (var(--gap-h) / 2)) !important;
}

.nep-w-80{
	max-width: calc(80% - (var(--gap-h) / 2)) !important;
}

.nep-w-90{
	max-width: calc(90% - (var(--gap-h) / 2)) !important;
}

.nep-w-100{
	max-width: 100% !important;
}

.nep-w-10, .nep-w-20, .nep-w-30, .nep-w-40, .nep-w-50, .nep-w-60, .nep-w-70, .nep-w-80, .nep-w-90, .nep-w-100{
	@media screen and (max-width: $m-small){
		max-width: 100% !important;
	}

}

.requierd{
	color: red;
}

.hide {
  display: none;
}

//.nep-pop-content {
//	min-height: calc(50vh - 45px);
//	height: 100%;
//}

.nep-bform-content{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	height: 100%;

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    -webkit-appearance: none !important;
		appearance: none !important;
	    margin: 0 !important;
	}

	input[type=number] {
	    -moz-appearance:textfield !important;
	}
}


.nep-bform-wrap{
	margin: 0;
	position: relative;
	display: flex;
	height: 100%;
	flex-direction: column;

	@media screen and (max-width: $m-mobile){
		height: auto;
	}

	*{
		box-sizing: border-box;
	}
}



.nep-bform-user, .nep-bform-order{
	flex: 1 1 50%;
	padding: 22px 30px 20px;
	max-width: 50%;

	@media screen and (max-width: $m-mobile){
		flex: 1 1 100%;
		max-width: 100%;
	}

	@media screen and (max-width: $m-small){
		padding: 40px 15px 40px;
	}
}

//.nep-bform-order{
//	background-color: #f1f1f1;
//	padding-top: 52px;
//}

//------- User Info Column --------------
.nep-bform-user{
	@media screen and (max-width: $m-mobile){
		order: 2;
		padding: 22px 30px 10px;
	}


	.nep-bform-steps-wrp{
		text-align: center;
		display: flex;
		margin: 0;
		width: 100%;
		margin: 15px auto 40px;
		justify-content: center;

	}

	.nep-bform-steps{
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 48%, var(--nep-button-background-color) 49%, var(--nep-button-background-color) 52%, rgba(255,255,255,0) 53%, rgba(255,255,255,0) 100%);

		.nep-bform-steps-btn{
			display: inline-block;
			position: relative;
			text-align: center;


			&:hover {
				&.nep-bform-steps-first .nep-bform-steps-step{
					background-color: var(--nep-button-background-color);
					color: var(--nep-button-text-color);
				}

				&.nep-bform-steps-first .nep-bform-steps-text{
					color: var(--nep-button-background-color);
				}
			}

			&.current {
				.nep-bform-steps-step{
					background-color: var(--nep-button-background-color);
					color: var(--nep-button-text-color);
					cursor: default;
				}

				.nep-bform-steps-text{
					color: var(--nep-button-background-color);
				}
			}

			.nep-bform-steps-step{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 34px;
				height: 34px;
				border-radius: 50%;
				background-color: var(--nep-button-text-color);
				color: var(--nep-button-background-color);
				font-family: sans-serif;
				font-weight: 700;
				border: 2px solid var(--nep-button-background-color) !important;
				cursor: pointer;
				transition: all 0.2s ease-in-out;


			}

			.nep-bform-steps-text{
				position: absolute;
				z-index: 99;
				color: gray;
				bottom: -19px;
				left: 50%;
				transform: translateX(-50%);
				font-size: 12px;
				font-weight: 600;
				transition: all 0.2s ease-in-out;
			}

			&.nep-bform-steps-first{
				margin-right: 40px;
			}

			&.nep-bform-steps-second{
				cursor: default !important;

				.nep-bform-steps-step{
					cursor: default !important;
				}
			}



		}


	}


	.nep-bform-user-title{
		all: unset;
		display: block;
		font-weight: 700;
		font-size: 20px;
		margin: 0 0 15px;
		color: #000;
		line-height: 1;
		box-sizing: border-box;
	}
	.nep-bform-user-section{
		margin-bottom: 20px;
		display: flex;
		/* grid-template-columns: repeat(2, 1fr); */
		gap: var(--gap-v) var(--gap-h);
		flex-wrap: wrap;

		//@media screen and (max-width: $m-small){
		//	grid-template-columns: 1fr;
		//}
	}

	.nep-bform-user-fild{
		width: 100%;
		background-color: #f2f2f2;
		padding: 10px 15px;
		display: flex;
		flex-flow: column;
		place-content: space-between;
		line-height: 0;
		flex: 1 1 auto;
		cursor: text;
		position: relative;

		&.focused{
			outline: 2px solid var(--nep-button-background-color);
		}

		&.not-valid{
			outline: 2px solid red !important;
		}
	}


	label{
		color: #828282;
		display: flex;
		transform-origin: 0 0;
		transition: all .3s;
		font-size: 16px;
		line-height: 1;
		-webkit-appearance: none;
		margin: auto 0 4px;
		transform: translate3d(0, 0.7em, 0);
		font-family: sans-serif;
		cursor: text;
		position: relative;
		z-index: 2;

		&.filled{
			font-size: 14px;
			transform: translate3d(0, 0, 0);
		}
	}

	#nep-bform-user-serch-field{
		font-weight: 600;
	}

	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea,
	.input-text {
		all: unset;
		background: transparent !important;
		border: 0 !important;
	    outline: 0 !important;
		display: block;
		width: 100%;
		max-width: 100%;
		font-family: sans-serif;
		font-size: 14px;
		font-weight: normal;
		color: #000;
	    box-shadow: none !important;
	    cursor: text;
		box-sizing: border-box;
	    height: auto;
		position: relative;
		z-index: 3;
		line-height: 8px;

	}

	select{
		background: transparent !important;
		border: 0 !important;
	    outline: 0 !important;
		display: block;
		width: 100%;
		max-width: 100%;
		font-family: sans-serif;
		font-size: 14px;
		font-weight: normal;
		color: #000;
	    box-shadow: none !important;
		box-sizing: border-box;
	    height: auto;
		position: relative;
		z-index: 3;
		line-height: 8px;

	}

	textarea{
		box-sizing: border-box;
		height: 20px;
	}

	.focused textarea, textarea.filled{
		min-height: 78px;
		line-height: 1.3;
		white-space: break-spaces;
		overflow-y: auto;
		resize: block;
	}

	.nep-bform-map-icon{
		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="tel"],
		input[type="url"],
		input[type="password"],
		input[type="search"],
		textarea,
		.input-text {
			padding-right: 15px;
		}

		&:after {
			content: "";
			background-image: url("/wp-content/plugins/woocommerce-novalnet-expresspay/assets/img/maps-icon.svg");
			background-repeat: no-repeat;
			background-position: center right 4px;
			background-size: 30px;
			opacity: 0.5;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: 1;
		}
	}

	.nep-bform-user-submit{
		text-align: center;
		margin-top: 30px;

		.nep-bform-user-section-error{
			font-weight: 500;
			color: red;
		}

		.nep-bform-user-submit-button{
			font-size: 17px;
			min-width: 240px;
			background-color: var(--nep-button-background-color);
			text-align: center;
			color: var(--nep-button-text-color);
			padding: 13px 15px;
			border-radius: 4px;
			font-family: sans-serif;
			font-weight: 700;
			border: 2px solid var(--nep-button-background-color) !important;
			outline: 0 !important;
			transition: all 0.2s ease-in-out;

			&:hover{
				background-color: var(--nep-button-text-color);
				color: var(--nep-button-background-color);
			}

			.nep-bform-user-spinner{
				vertical-align: middle;
				margin-right: 5px;
				margin-top: -3px;
			}
		}
	}

}

.nep-bform-copyright{
	display: grid;
	grid-template-columns: 1fr 1fr;
	//overflow: hidden;
	//position: absolute;
	//bottom: 0;
	//left: 0;
	width: 100%;
	//margin-top: -53px;
	//height: 53px;
	//background-color: #ff00002b;

	@media screen and (max-width: $m-mobile){
		grid-template-columns: 1fr;
		//position: initial;
		//overflow: initial;
	}

	& > div{
		font-size: 16px;
		font-family: sans-serif;
		font-weight: 700;
		color: #cecece;
		line-height: 0;
		padding: 0 17px;
		align-self: stretch;

		@media screen and (max-width: $m-mobile){
			text-align: center !important;
			align-self: center !important;
		}

		a{
			all:unset;
			font-size: 16px !important;
			font-family: sans-serif;
			font-weight: 700;
			color: #cecece !important;
			line-height: 0 !important;
			text-decoration: none !important;
			cursor: pointer;
			opacity: 1;
			transition: opacity 0.2s ease-in-out;

			&:hover{
				color: #989898 !important;
				opacity: 0.8;
			}
		}
		span, svg{
			vertical-align: middle;
		}

		svg{
			max-width: 90px;
		}
	}

	.nep-bform-copyright-right{
		background-color: #f1f1f1;
	}
}


//------- Order Column --------------
.nep-bform-order{

	background-color: #f1f1f1;
	padding-top: 35px;

	@media screen and (max-width: $m-small){
		padding: 40px 15px 20px;
	}

	.nep-bform-order-title{
		all: unset;
		display: block;
		font-weight: 700;
		font-size: 22px;
		margin: 0 0 15px;
		color: #000;
		line-height: 1;
		box-sizing: border-box;

		@media screen and (max-width: $m-mobile){
			display: none;
		}
	}

	.nep-bform-order-products{
		background-color: #fff;
		margin-bottom: 20px;
	}

	.nep-bform-order-product{
		display: grid;
		grid-template-columns: 100px auto;

		&.nep-bform-order-product-short{
			grid-template-columns: auto;
		}

		&:not(:last-child){
			border-bottom: 3px dashed #dbdbdb;
		}


		.nep-bform-order-product-left{
			text-align: center;
			padding: 15px 15px;
		}

		.nep-bform-order-product-right{
			padding: 15px 15px 15px 0;
		}

		&.nep-bform-order-product-short{
			.nep-bform-order-product-right{
				padding: 15px;
			}
		}

		.nep-bform-order-product-img{
			width: 100%;
			height: auto;
			max-width: 56px;
			margin: 0 auto 15px;
		}

		.nep-bform-order-product-quantity{
			width: 75px;
			border: 1px solid gray;
			border-radius: 15px;

			button, input{
				all:unset;
				background: none;
				border: 0 !important;
				outline: 0 !important;
				display: inline-block;
				text-align: center;
				box-sizing: border-box;
				overflow: hidden;
				font-weight: 400;
				font-family: sans-serif;
				font-size: 16px;
				line-height: 1;
			}
			button{
				width: 20px;
				cursor: pointer;
				user-select: none;
			}
			input{
				width: 25px;
				cursor: text;
				font-size: 15px;
			}
		}

		.nep-bform-order-product-item{
			display: grid;
			grid-template-columns: auto 70px 20px;
			margin-top: 5px;
			margin-bottom: 10px;

			& > div {
				line-height: 1;
				vertical-align: middle;
			}
		}

		.nep-bform-order-product-title, .nep-bform-order-product-title a{
			word-break: break-word;
			font-weight: 700;
			font-family: sans-serif;
			line-height: 1;
			font-size: 16px;
			color: #000;
			text-decoration: none;
		}

		.nep-bform-order-product-amount{
			font-weight: 600;
		}

		.nep-bform-order-product-remover-button{
			all:unset;
			background: none;
			border: 0 !important;
			outline: 0 !important;
			display: block;
			text-align: center;
			box-sizing: border-box;
			font-weight: 400;
			font-family: sans-serif;
			font-size: 28px;
			line-height: 16px;
			width: 100%;
			cursor: pointer;
			margin: -5px -8px 0 5px;

			&:hover{
				color: red;
			}
		}

		.nep-bform-order-product-info{
			line-height: 1.1;
		}

	}

	.nep-bform-order-total{
		margin: 0 15px 20px;
		@media screen and (max-width: $m-small){
			padding: 0 0 20px;
			  margin: 0;
		}
	}

	.nep-bform-order-summary-item{
		display: grid;
		grid-template-columns: 1fr 1fr;
		font-size: 14px;
		font-weight: 700;
		color: rgba(0, 0, 0, 0.55);
		font-family: sans-serif;
		line-height: 1.6;
		//& > div{
		//	font-size: 14px;
		//	font-weight: 700;
		//	color: rgba(0, 0, 0, 0.55);
		//}
	}



	.nep-bform-order-summary-label-discount{
		color: rgba(0, 0, 0, 0.85);
	}

	.nep-bform-order-summary-coup-remove{
		cursor: pointer;
		color: rgba(0, 0, 0, 0.85);
		transition: all 0.2s ease-in-out;

		&:hover{
			color: red;
		}
	}

	.nep-bform-order-summary-val{
		text-align: right;
	}

	.nep-bform-order-summary-item-total{
		font-size: 16px;
		color: #000;
	}


	.nep-bform-order-coupon{

		.nep-bform-order-coupon-openblock{
			font-size: 10px;
			color: #828282;
			cursor: pointer;
			font-family: sans-serif;
			font-weight: 400;
			border-top: 1px solid #c5c5c5;
			border-bottom: 1px solid #c5c5c5;
			padding: 6px;
			transition: all 0.2s ease-in-out;

			&:hover{
				color: #000;
			}
		}

	}
}

.nep-bform-order-products-container-wrap{
	position: relative;
	transition: height 0.2s ease-in-out;

	@media screen and (max-width: $m-mobile){
		overflow: hidden;
		height: 0;
	}

	&.wrap-show{
		height: 100%;
		margin-top: 20px;
	}
}


//.nep-bform-order-products-container{
//	padding: 0 0 10px;
//}
.nep-bform-order-products-container-prel{
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	//background-color: rgba(40, 40, 40, 0.15);
	background-color: rgba(255, 255, 255, 0.4);
	display: flex;
	justify-content: center;
    align-items: center;
	z-index: 99;
	opacity: 1;
	transition: all 0.3s ease-in-out;
	backdrop-filter: blur(2px);

}

.nep-container-prel-hide{
	z-index: -1;
	opacity: 0;
}


//Coupon block
.nep-bform-order-coupon-form{
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	display: grid;
	grid-template-columns: 24px auto 60px;
	gap: 6px;
	margin: 10px 0;


	&.nep-bform-order-coupon-form-hide{
		z-index: -1;
		opacity: 0;
		height: 0;
	}

	.nep-bform-order-coupon-form-close, .nep-bform-order-coupon-form-add{
		all: unset;
		font-family: sans-serif;
		color: #000;
		border: 0;
		outline: 0;
		line-height: 40px;
		vertical-align: middle;
		cursor: pointer;
		width: 100%;
		text-align: center;
		display: block;
		height: 40px;
		box-sizing: border-box;
		opacity: 1;
		transition: all 0.3s ease-in-out;

		&:hover{
			opacity: 0.5;
		}
	}

	.nep-bform-order-coupon-form-close{
		font-size: 26px;
	}


	.nep-bform-order-coupon-form-code-wrp{
		padding: 0 6px;

		input{
			all: unset;
			font-size: 16px;
			font-family: sans-serif;
			border: 0;
			outline: 0;
			cursor: text;
			color: #000;
			display: block;
			background-color: #fff;
			padding: 4px 8px 4px 12px;
			border-radius: 8px;
			width: 100%;
			height: 40px;
			box-sizing: border-box;
		}

	}


	.nep-bform-order-coupon-form-add{
		font-size: 26px;
		//background-color: red;
		border-radius: 10px;
		background-color: var(--nep-button-background-color);
		color: var(--nep-button-text-color);
	}
}

.nep-empy-cart{
	color: red;
    padding: 5px 10px;
}


//Mobile order block
.nep-bform-order-mobile{
	font-size: 24px;
	color: #000;
	text-align: center;
	font-weight: 700;
	padding: 6px 12px;
	border-radius: 4px;
	border: 1px solid #c7c7c7;
	//margin-bottom: 20px;
	cursor: pointer;
	background-color: transparent;
	transition: all 0.2s ease-in-out;
	display: none;

	@media screen and (max-width: $m-mobile){
		display: block;
	}

	&:hover{
		background-color: rgba(255,255,255,0.4);
	}

	svg{
		vertical-align: middle;
		margin: -4px 5px 0;
	}
}


.pac-container {
  z-index: 9999999999999999999999;
  width: 100% !important;
  max-width: clamp(16.25rem, -2.222rem + 77.78vw, 25rem);
}



//2 step
.nep-bform-user-blocks{
	display: grid;
}

.nep-bform-user-form{
	margin-bottom: 0;
	@media screen and (max-width: $m-mobile){
		margin-bottom: 20px;
	}
}

.nep-bform-user-form-containers{
	position: relative;
	opacity: 0;
	z-index: -1;
	grid-column-start: 1;
    grid-row-start: 1;
	overflow: hidden;
	height: 0;
	padding: 0 2px;
	transition: all 0.3s ease-out;

	&.show-step{
		height: 100%;
		opacity: 1;
		z-index: 1;
	}
}


.nep-bform-user-back-button{
	all: unset;
	width: 100%;
	max-width: 80px;
	cursor: pointer;
	line-height: 0;
	display: block;
	text-align: center;
	margin: 20px auto 0;
	font-size: 14px;
	font-family: sans-serif;
	background: none !important;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;

	&:hover{
		opacity: 0.7;
	}

	&:focus{
		outline: none !important;
	}

	svg{
		max-width: 9px;
		vertical-align: middle;
		display: inline-block;
		margin-top: -3px;
		fill: #cecbcb;
	}
}

.nep-order-ch-title{
	text-transform: uppercase !important;
	color: var(--nep-button-background-color) !important;
}

#nep-order-ch-sendto-wrp{
	color: #000;
	margin-bottom: 40px;
	line-height: 1.8;
}

.nep-order-ch-content-adress{
	font-weight: 700 !important;
	position: relative;
	padding-left: 24px;
	font-size: 19px;
	//line-height: 1.2;
	cursor: text;

	&:before {
		content: "";
		background-image: url(/wp-content/plugins/woocommerce-novalnet-expresspay/assets/img/maps-icon.svg);
		background-repeat: no-repeat;
		background-position: center left -4px;
		background-size: 27px;
		opacity: .5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}
}

.nep-order-ch-content-notice{
	font-weight: 600;
	font-size: 18px;
	line-height: 1.4;
	margin-top: 15px;

	.nep-order-ch-content-notice-txt{
		font-weight: 400;
		font-size: 16px;
		line-height: 1.2;
		background: #f0f0f0;
		padding: 14px 10px;
	}
}

.nep-bform-user-terms{
	font-size: 13px;
	color: #000;
	font-family: sans-serif;
	max-width: 350px;
	margin: 20px auto 0;
}

.nep-order-ch-card{
	display: grid;
	grid-template-columns: auto 68px 45px;
	border: 2px solid rgb(213, 213, 213);
	padding: 10px 10px 10px 44px;
	border-radius: 6px;
	background: url("/wp-content/plugins/woocommerce-novalnet-expresspay/assets/img/card-ico.svg") no-repeat left 10px center;
	background-size: 29px;
	line-height: 0;
	font-family: sans-serif;

	.nep-order-ch-card-number{
		font-size: 18px !important;
		min-width: 180px !important;
	}

	.nep-order-ch-card-expair{
		display: grid;
		grid-template-columns: 30px 8px 30px;
		text-align: center;
		place-items: center;

		input{
			font-size: 18px !important;
		}

		.nep-order-ch-card-sep{
			padding-left: 3px;
		}
	}

	.nep-order-ch-card-cvc{
		text-align: center !important;
		font-size: 18px !important;
	}
}

